<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Expense</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css"> <!-- Include your custom CSS file -->
</head>
<body>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="mb-4">Edit Expense</h2>
            <div class="card">
                <div class="card-body">
                    <form id="form" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="text">Name</label>
                            <input type="text" required name="text" id="text" class="form-control" value="{{ expense.name }}">
                        </div>
                        <div class="form-group">
                            <label for="amount">Amount</label>
                            <input type="number" required name="amount" id="amount" class="form-control" value="{{ expense.amount }}">
                        </div>
                        <div class="form-group">
                            <label for="expense_type">Type</label>
                            <select name="expense_type" required class="form-control">
                                <option value="Positive" {% if expense.expense_type == 'Positive' %}selected{% endif %}>Positive</option>
                                <option value="Negative" {% if expense.expense_type == 'Negative' %}selected{% endif %}>Negative</option>
                            </select>
                        </div>
                        <button class="btn btn-primary" type="submit">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="script.js"></script> <!-- Include your custom JavaScript file -->

</body>
</html>
